<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Weather Detector</title>
  
  <!-- Latest Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  
  <!-- jQuery and Bootstrap JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>

<body>
  <nav class="row" style="background: grey; color: white; padding: 10px;">
    <div class="text-center">
      <h1>Weather Detector</h1>
    </div>
  </nav>
  <br/>

  <div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
      <form action="" method="post">
        {% csrf_token %}
        <div class="input-group">
          <input type="text" class="form-control" name="city" placeholder="Enter city name" required>
          <div class="input-group-btn">
            <button class="btn btn-default" type="submit">
              <i class="glyphicon glyphicon-search"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <br/>

  {% if data %}
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1>{{ city }}</h1>
      <h3>Country Code: {{ data.country_code }}</h3>
      <h4>Co-ordinates</h4>
      <h5>Coordinates: {{ data.coordinate }}</h5>
      <h4>Weather</h4>
      <h5>Main: {{ data.w_main }}</h5>
      <h5>Description: {{ data.w_description }}</h5>
      <h4>Main</h4>
      <h5>Temperature: {{ data.temp }}k</h5>
      <h5>Pressure: {{ data.pressure }} hPa</h5>
      <h5>Humidity: {{ data.humidity }}%</h5>
      <h5>Sea Level: {{ data.sea_level }}</h5>
      <h5>Ground Level: {{ data.ground_level }}</h5>
      <h5>Wind: {{ data.wind_speed }}</h5>
      <h5>Timezone: {{ data.timezone }}</h5>
    </div>
  </div>
  {% endif %}

</body>
</html>
